<div class="text-center">
  <h2 class="fw-bold">Contacto</h2>
  <p class="lead">¿Interesado en colaborar? ¡Envíame un mensaje!</p>
  <hr class="w-25 mx-auto">
</div>

<div class="row mt-4">
  <div class="col-md-8 mx-auto">
    <p class="text-center">
      <strong>Email:</strong> info&#64;jrcores.com <br>
      <strong>LinkedIn: </strong> <a href="www.linkedin.com/in/julio-c-rosario" target="_blank">linkedin.com/in/julio-c-rosario</a> <br>
      <strong>GitHub: </strong> <a href="https://github.com/Juliorm19" target="_blank">github.com/Juliorm19</a>
    </p>
    <!-- Aquí podrías añadir un formulario de contacto si quieres practicar con ReactiveForms de Angular -->
  </div>
</div>
