<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#inicio">Julio Rosario</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#sobre-mi">Sobre Mí</a></li>
        <li class="nav-item"><a class="nav-link" href="#habilidades">Habilidades</a></li>
        <li class="nav-item"><a class="nav-link" href="#proyectos">Proyectos</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
        <li class="nav-item">
          <a class="btn btn-outline-light ms-lg-2" href="assets/Curriculum Profesional - Julio Rosario (3).pdf" target="_blank">Descargar CV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
