<div class="text-center py-5">
  <h1 class="display-4 fw-bold">Hola, soy Julio Rosario</h1>
  <p class="lead text-muted">Programador Web Junior | Full-Stack Developer</p>
  <p class="col-lg-6 mx-auto">
    Apasionado por crear soluciones web modernas y eficientes con Angular, Node.js y un creciente interés en la Inteligencia Artificial y el análisis de datos.
  </p>
<div>
  <a href="#proyectos" class="btn btn-primary my-2 mx-2">Ver mis Proyectos</a>
  <a href="#contacto" class="btn btn-secondary my-2 mx-2">Contáctame</a>
</div>
</div>